<form method="POST" action="/saveAnswers">            
<div class="discuss">
    <input type="text" name="inputQuestionId" class="questinId" value="<%= foldQuestion.id %>">
    <textarea name="discussTextArea" placeholder="discuss" maxlength="1000" minlength="1" required> </textarea>
    <button class="btnSend"> Send </button>    
</div>
</form>
