<form method="POST" action="/saveAnswers">            
<div class="discuss">
    <input type="text" name="inputQuestionId" class="questinId" value="<%= foldQuestion.id %>">
    <textarea name="discussTextArea" id="areaResponse" placeholder="discuss" minlength="2" maxlength="1000" minlength="1" required> </textarea>
    <br><button class="btnSend" onclick=Sending> Send </button>    
</div>
</form>
