<div class="questions">
        <form method="POST" action="/saveQuestions">
                <label>Title</label><br>
                <input name="title" placeholder="write your title here" required  /><br>
                <label>Description</label><br>
                <textarea name="description" placeholder="write your question here" maxlength="300" minlength="1" required> </textarea>
                <button class="btnSend">Ask Question</button>
        </form>
</div>