<form class="questions">
    
        <label>Title</label><br>
        <input placeholder="write your title here"/><br>
        <label>Description</label><br>
        <textarea placeholder="write your question here" maxlength="300" minlength="1"></textarea>
        <button class="btnSend">Send </button>
        <button class="btnClear">Clear</button>
  
</form>