<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answers</title>
    <link rel="stylesheet" type="text/css" href="/css/answers.css">
</head>


<body>
    <%- include ('partials/header.ejs') %>
    <div class="answer"> 
        <h1>all questions </h1>
        <% questions.forEach(question=>{ %>
        <div class="design">                 
            <header><%= question.title %></header>
            <a href="/question/<%= question.id %>" ><button class="btn-answer"> Answer </button></a>        
        </div>
        <% }) %>
        <hr>
        </div>
    </div>
</body>

</html>