.profile{
    margin-top: 50px;
    text-align: center;
}

div table{
    margin: auto;
    width: 75%;
    font-size: 30px;
    border: solid 10px;
}

div table tr th{
    background-color: #ff0000;
}

div table tr td{
    background-color: #aa8c91;
}

